<div class="row s12 m4 l4">
   
  <img class="row s12 m4 l4" style="margin-top:0px; background-color:white;" src="assets/images/header11.png" alt="Nature" class="responsive"/>
   
</div>
<div class="container">
  <div class="row s12 m4 l4" style="background-color: #162655; border:1px solid #162655; margin-bottom:0px; margin-top:0px; height:8px;"></div>
  <div class="row s12 m4 l4" style="background-color: #95D6E3; border:1px solid #95D6E3; height:4px; margin-bottom:0px;  "></div>
  <div class="row s12 m4 l4" id="main_row" style="margin-bottom:0px;">
      <div class="col s12 m8 l8" id="col_1">
          <div class=" row center" id="row_video" >
              <video  src="assets/video/Video.mp4" [muted]="true" playsinline  autoplay="true" loop="true" class="responsive-video"  preload="auto">
                  

               </video>
                  
              
            
               
               
          </div>
     
      </div>
      <div class="col s12 m4 l4" id="col_2"> 
          <mat-card style="height:338px; ">
              <div class="row" style=" margin-bottom:0px; ">
                  <div class="col s12 m4 l4 right" style=" width:60%; margin-top:0px;  margin-left:0px;">
                      <img src="assets/images/logo1.png" class="responsive-img"/> 
                  </div>
                  
                  
                  
              </div>
              
            <div class="row" id="form_row ">
                  <form  > 
                       <strong >Login</strong> <br><br>
                       

                      <div class="input-container">
                          <p id="email_input"> <label class="required" >Email</label>
                          <input  autocomplete="off" type="email"  id="email" name="Email" placeholder="Enter your email.." required></p>
                          <p id="password_input"> <label class="required">Password</label>
                          <input autocomplete="off" type="password" id="password" name="password" placeholder="Enter your password.." required></p>
                           <p style="margin-top:10px;  "><mat-checkbox color="primary" style="margin-left:5px"><small style="margin-right:15px;">Remember Me </small></mat-checkbox> 
                           <a><small>Forgot Password</small></a></p>
                     
                      
                          <button mat-button >Login</button>
                      </div>  
                  
                  </form>
              </div>
          </mat-card>
      </div>
     
  </div>
  <div class="row s12 m4 l4" style="background-color: #929da0; border:1px solid #929da0; margin-bottom:0px; height:4px; "></div>

  <div class="row s12 m4 l4" style="background-color: #95D6E3; border:1px solid #95D6E3; margin-top:0px; margin-bottom:0px; height:4px; "></div>
  <div class="row s12 m4 l4" style="background-color: #162655 ; border:1px solid #162655; margin-top:0px; margin-bottom:0px; height:4px;"></div>
</div>

<div class="row s12 m4 l4">
 
  <img class="row s12 m4 l4" style="margin-bottom:0px; margin-top:58px; background-color:white;" src="assets/images/footer.png" alt="Nature" class="responsive"/>
   
</div>